@charset "utf-8";

/*
*   fixed (logo, menu)
*/

.header {
    z-index: 300;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}


.header .fixed {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: 1920px;
    margin: 0 auto;
    
    .logo {
        z-index: 100;
        position: absolute;
        top: 28px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: #ffdd4c;
    }
    
    
    $burgerWidth: 32px;
    $burgerHeight: 20px;
    $burgerLineSize: 2px;
    $burgerLineColor: #777;
    $burgerTranslate: ($burgerHeight - $burgerLineSize) / 2;
    $burgerBounce: cubic-bezier(.87,-.50,.19,1.50);


    .menu {
        z-index: 300;
        position: absolute;
        width: auto;
        height: auto;
        top: 46px;
        right: 36px;
        cursor: pointer;
        

        .menu_burger {

            
            position: absolute;
            width: $burgerWidth;
            height: $burgerHeight;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 750ms ease-in-out;

            .line {
                position: absolute;
                right: 0;
                background-color: $burgerLineColor;
                height: $burgerLineSize;
                width: 80%;
                pointer-events: none;
            }

            .line_1 {
                top: 0;
                transition: all .2s ease-in-out;
            }

            .line_2 {
                width: 100%;
                top: 0;
                bottom: 0;
                margin: auto;
                transition: transform .2s ease-in-out;
            }

            .line_2:before {
                content: '';
                position: absolute;
                width: 100%;
                height: $burgerLineSize;
                background-color: $burgerLineColor;
                transition: transform .2s ease-in-out;
            }

            .line_3 {
                bottom: 0;
                transition: all .2s ease-in-out;
            }


        }

    }


    .menu_burger.open {

        .line_1 {
            opacity: 0;
            transform: translate3d(-2*$burgerTranslate,0,0);
            transition: all .2s ease-in-out;
        }

        .line_2 {
            transform: rotate(45deg);
            transition: transform .2s ease-in-out;
        }

        .line_2:before {
            transform: rotate(-90deg);
            transition: transform .2s ease-in-out;
        }

        .line_3 {
            opacity: 0;
            transform: translate3d(2*$burgerTranslate,0,0);
            transition: all .2s ease-in-out;     
        }

    }


}





//////////////////
// !미디어 쿼리! //
/////////////////


@include pc-md {
   .header .fixed {
        
        .logo {
            left: 0px;
            width: 46px;
            height: 46px;
        }
       
       $burgerWidth: 38px;
       $burgerHeight: 24px;
       
       .menu {
           top: 52px;
           right: 30px;
            
            .menu_burger {
                width: $burgerWidth;
                height: $burgerHeight;
            }
       }
    }
}

// =============================================


@include pc-md {
   .header .fixed {
        
        .logo {
            width: 42px;
            height: 42px;
        }
       
       $burgerWidth: 36px;
       $burgerHeight: 22px;
       
       .menu {
           top: 42px;
           right: 38px;
            
            .menu_burger {
                width: $burgerWidth;
                height: $burgerHeight;
            }
       }
    }
}

// =============================================



@include mo-lg {
    
    
    .header .fixed {
        
        .logo {
            top: 16px;
            left: 6px;
            width: 30px;
            height: 30px;
        }
        
        $burgerWidth: 28px;
        $burgerHeight: 19px;

        .menu {
            top: 32px;
            right: 20px;
            
            .menu_burger {
                width: $burgerWidth;
                height: $burgerHeight;
                right: 10px;
            }
        }
    }
    
}

// =============================================

