@charset "utf-8";


/*
*   title for section, aricle
*/

    
.title_line {
        position: absolute;
        top: -3.5em;
        left: 50%;
        display: block;
        content: '';
        width: 1px;
        height: 5em;
        background-color: #67ceeb;
}

.title {
    position: relative;
    z-index: 10;
    text-align: center;
    padding-top: 1.5em;
    
    .title_svg {
        height: 50px;
    }
    
    .title_svg_text {
        font-size: 60px;
        transition: font-size .5s;
    }
}


.title_sm {
    display: block;
    position: relative;
    z-index: 10;
    margin-top: -0.8em;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    color: #aaa;
    font-weight: 300;
    text-transform: uppercase;
    transition: font-size .5s;
}




//////////////////
// !미디어 쿼리! //
/////////////////


@include pc-md {     // pc-md : 1601px~
    .article_hello,
    .article_work{
        
        .title .title_svg {
            height: 110px;
        }
        
        .title .title_svg_text {
            font-size: 110px;
        }
        
        .title_sm {
            font-size: 13px;
        }
        
        .hello_text {
            font-size: 22px;
        }
        
        .more_link {
            font-size: 21px;
        }
        
        .icon_circle {
            font-size: 20px;
        }
    } 
    
} 

// =============================================

@include pc-sm {     // pc-sm : 1201px ~ 
    .article_hello,
    .article_work {
        
        .title .title_svg {
            height: 94px;
        }
        
        .title .title_svg_text {
            font-size: 94px;
        }
        
        .title_sm {
            font-size: 13px;
        }
        
        .hello_text {
            font-size: 20px;
        }
        
        .more_link {
            font-size: 19px;
        }
        
        .icon_circle {
            font-size: 18px;
        }
    } 
    
}

// =============================================

@include tablet {     // tablet : 641px~
    .article_hello,
    .article_work {
        
        .title .title_svg {
            height: 80px;
        }
        
        .title .title_svg_text {
            font-size: 80px;
        }
        
        .title_sm {
            font-size: 12px;
        }
        
        .hello_text {
            font-size: 18px;
        }
        
        .more_link {
            font-size: 17px;
        }
        
        .icon_circle {
            font-size: 16px;
        }
    } 
    
} 

// =============================================

@include mo-lg {     // mob-lg : ~540px
    .article_hello,
    .article_work {
        
        .title .title_svg {
            height: 52px;
        }
        
        .title .title_svg_text {
            font-size: 65px;
        }
        
        .title_sm {
            font-size: 10px;
        }
        
        .hello_text {
            margin: 2.5em 0em;
            font-size: 14px;
            text-align: left;
        }
        
        .more_link {
            font-size: 12px;
        }
        
        .icon_circle {
            font-size: 10px;
        }
    } 
    
}

// =============================================