@charset "utf-8";

/*
*   article about
*/


////////////////
// about 부분 //
///////////////


.article_about {
    position: relative;
    width: 100%;
    min-height: 600px;
    max-height: 100%;
    padding-top: 12em;
    
    .inner {
        position: relative;
        //padding-bottom: 2em;
        //margin: -1.5em auto 0;
        padding: 0 4rem;
        text-align: center;
        background-color: lighten( $color-bg, 2% );
    }
     
    .about_header {
        .title {
            top: -1.3em;
        }
        
        .title_line {
            top: -8em;
        }
    }

    .about_motto {
        @include display-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        outline: 2px solid navy;
        margin: 0em auto 3em;
        font-size: 24px;

        .motto_left {
            margin-right: 4%;
            text-align: right;
            line-height: 150%;
        }

        .motto_right {
            width: 70%;
            max-width: 800px;
            
            .motto_image {
                position: relative;
                top: 2%;
                display: block;
                width: 100%;
                height: auto;
                margin: 4% 0 0 4%;
            }
        }

    } //end of .about_motto
    
    .about_main {
        @include display-flex;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        
        .about_link {
            margin-right: 4%;
            .social {
                @include display-flex;
                justify-content: center;
                
                .social_item {
                    @include social-item(2.5em);
                }
            }
        } //end of .about_link
        
        .about_text {
            width: 64%;
            margin: 0 0 7em 5%;
            text-align: left;
            font-size: 16px;
            line-height: 160%;
            
            .about_text_para {
                margin-bottom: 1.3em;
            }
        } //end of .about_text
        
    } //end of .about_main
    
}