@charset "utf-8";

/*
*   work detail 
*/



//////////////////////
// work_detail 부분 //
/////////////////////


.article_detail {
    position: relative;
    width: 100%;
    min-height: 800px;
    max-height: 100%;
    height: 100vh;
    height: 100%;
    
    .inner {
    }
    
    .detail_top { // 설명 부분
        @include display-flex;
        justify-content: center;
        position: relative;
        width: auto;
        height: auto;
        max-width: 1600px;
        margin: 0 auto;
        padding: 1.2em 1em 1.2em;
        box-sizing: border-box;
        font-size: 68px;
        //transition: font-size .5s;
        
        &:after {
            display: block;
            content: '';
            clear: both;
        }
        
        .detail_title {
            width: auto;
            color: $color-main;
            font-size: 100%;
            
            .detail_title_sm {
                display: block;
                padding-left: 8px;
                color: #696969;
                font-style: normal;
                font-size: 25%;
                font-weight: 400;
                letter-spacing: 0.06rem;
            }
        } // end of .dtail_title
        
        .detail_info {
            font-size: 19px;
            line-height: 160%;
            margin-left: 11em;
            @include font-noto;
            transition: margin-left .5s;
            
            .detail_info_text {
                position: relative;
                width: auto;
                margin-top: 5em;
                
                .detail_mobile {
                    margin-top: 3.5em;
                    color: #5a5a5a;
                    font-size: 11px;
                    line-height: 130%;
                    padding: 0.8em 0 0.8em 4.2em;
                    border: 1px solid #d4d4d4;
                    
                    
                    .detail_ico {
                        position: absolute;
                        bottom: 1em;
                        left: 1.2em;
                        display: block;
                        width: 2em;
                        height: 2em;
                        background-image: url(../images/ico_expand.svg);
                        background-position: 0 0;
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
                
                .detail_line {
                    display: block;
                    position: absolute;
                    top: 14px;
                    left: -8em;
                    width: 7em;
                    height: 1px;
                    background-color: #696969;
                }
            }
        } // end of .detail_info
        
    } // end of .detail_top
    
    .detail_main {
        width: 100%;
        background-color: $color-bg;
        
        .shots {
            width: 100%;
            max-width: 1600px;
            margin: 0 auto;
            padding: 8em $pd-lg 8em;
            box-sizing: border-box;
            background-color: $color-bg;
            
            &:after {
                display: block;
                content: '';
                clear: both;
            }
            
            .shots_item {
                //opacity: 0;
                display: block;
                width: 100%;
                margin: 12% auto 0;
                box-shadow: 0px 10px 30px rgba(54, 49, 49, 0.15);
                
                &.unveiled {
                    opacity: 1;
                }
                
                .shots_item_link {
                    display: block;
                    width: 100%;
                }
                
                .shots_item_img { 
                    display: block;
                    width: 100%;
                    height: auto;
                }
                /*
                &:first-child {
                    margin-top: 10%;
                    transform: matrix(1, 0, 0, 1, 0, -30);
                }*/
            } //end of .shots_item
            
            .shots_item.mobile {
                float: left;
                width: 48%;
                
                &:nth-child(odd){
                    margin-right: 4%;
                }
            }
            
        } //end of .shots
        
        .slider {
            position: relative;
            padding: 3em 0;
                
            .slider_inner {
                position: relative;
                max-width: 1920px;
                width: 100%;
                height: 100% !important;
                margin: 0 auto;
                padding: 0 16em;
                font-size: 16px;
                box-sizing: border-box;
            }
            
            /// -- swiper-- ///
            .swiper-container {
                
                .swiper-wrapper {
                    
                    .swiper-slide {
                        width: 70% !important;
                        height: auto !important;
                        max-height: 800px !important;

                        img {
                            display: block;
                            width: 100%;
                        }
                        
                        &.slide_mo {
                            //모바일 이미지의 경우
                            max-height: 100% !important;
                            width: 45% !important;
                        }
                    }
                }
            }
            

            .slider_btn {
                background-size: 100%;
                transition: opacity .2s;
            }

            .swiper-button-prev {
                left: ($pd-lg - 4em) !important;
                background-image: url(../images/btn_prev.svg) !important;
            }

            .swiper-button-next {
                right: ($pd-lg - 4em) !important;
                background-image: url(../images/btn_next.svg) !important;
            }
            
            /// -- swiper -- ///
            
        } //end of .slider 
        
    } //end of .detail_main
    
    
    .detail_bottom {
        margin: 1em auto;
        padding: 0 6em;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        
        .bottom_inner {
            @include display-flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            box-sizing: border-box;
            max-width: 1920px;
            margin: 0 auto;
            padding: 5em 0;
            font-size: 18px;
        }
        
        .detail_btn {
            position: relative;
            overflow: hidden;
            padding-top: 0.5em;
            color: #acacac;
            font-size: 33px;
            font-weight: 700;
            letter-spacing: 0.03rem;
            transition: font-size .5s, color .4s;
                   
            &:before {
                display: block;
                opacity: 1;
                position: absolute;
                top: 0.3em;
                color: #cdcdcd;
                font-size: 12px;
                font-weight: 300;
                text-transform: initial;
                transition: opacity .6s;
            }
            
            .detail_btn_title {
                opacity: 0;
                position: absolute;
                top: 0;
                color: #aaa;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: -0.015rem;
                transition: opacity 1s, transform .3s;
            }
            
            &.prev {
                padding-right: 26px;
                
                &:before {
                    left: 0px;
                    content: 'Previous work';
                }
                
                .detail_btn_title {
                    left: 0;
                    transform: translateX(-100%);
                }
                
            }
            
            &.next {
                padding-left: 26px;
                
                &:before {
                    right: 0px;
                    content: 'Next work';
                    text-align: right;
                }
                
                .detail_btn_title {
                    right: 0;
                    transform: translateX(100%);
                }
                
            }
            
            &:hover {
                color: $color-main;
                transition: color .2s;
            }
            
            &:hover .detail_btn_title {
                opacity: 1;
                transform: translateX(0);
                transition: opacity 1s, transform .5s easeOutBack;
            }
            
            &:hover:before {
                opacity: 0;
            }
        } //end of .detail_btn
        
        .detail_link {
            @include btn-web;
            
            &:after {
                background-image: url(../images/ico_link_dark.svg) !important;
                transition: background-image .5s;
            }
                
            &:hover span {
                color: #fff;
            }
        
            &:hover:after {
                background-image: url(../images/ico_link.svg) !important;
                transition: background-image .5s;
            }
        }
    } //end of .detail_bottom
    
} // end of .article_detail




/////////////////////////////
// !각 work 페이지별 컬러링! //
////////////////////////////

@each $work, $color in $colorList {
    .#{$work} .article_detail .detail_main .slider {
        background-color: $color;
    }
}

@each $work, $color in $colorList {
    .#{$work} .article_detail .detail_bottom .detail_link {
        border-color: $color;
        color: $color;
        
        &:before {
            background-color: $color;
        }

    }
}


/////////
///////// ICOP 페이지의 최대 크기
/////////

// [data-sub=work_icop] .article_detail .detail_main .shots {
//     max-width: 1400px !important;
// }



//////////////////
// !미디어 쿼리! //
/////////////////



// =============================================

@include pc-lg {
}

// =============================================

@include pc-sm {     

    .article_detail {

        .detail_top { // 설명 부분
            font-size: 62px;
        
            .detail_info {
                font-size: 17px;
                line-height: 160%;
                margin-left: 8em;
            }
        } 
        
        

        .detail_main {
            .shots {
                padding: 5em $pd-md 5em;
            }

            .slider {
                padding: 3em 9em;
                font-size: 16px;

                .slider_inner {
                    padding: 0 3em;
                }
                
                .swiper-button-prev {
                    left: -4em !important;
                }

                .swiper-button-next {
                    right: -4em !important;
                }

                /// -- swiper -- ///
            }
        }


        .detail_bottom {
            padding: 0em $pd-md;
            font-size: 16px;

            .detail_btn {
                font-size: 30px;
                
                .detail_btn_title {
                    font-size: 14px;
                }
                
                &.prev {
                    padding-right: 30px;
                }

                &.next {
                    padding-left: 30px;
                }
            } 
        }
    }
    
}


// =============================================

@include tablet {     

    .article_detail {

        .detail_top { // 설명 부분
            flex-direction: column;
            font-size: 55px;
            padding-left: 2em;
            padding-right: 2em;
        
            .detail_info {
                font-size: 15px;
                line-height: 160%;
                margin-left: 0em;
                
                .detail_info_text .detail_line {
                    width: 3em;
                    top: -1em;
                    left: 0;
                    background-color: #c4c4c4;
                }
            }
        } 
        


        .detail_main {

            .shots {
                padding: 5em $pd-tb 5em;
            }

            .slider {
                padding: 3em 8em;
                font-size: 16px;
                
                .slider_inner {
                    padding: 0 0em;
                }
                
                .swiper-container .swiper-wrapper .swiper-slide {
                    width: 80% !important;
                }

                .swiper-button-prev {
                    width: 1.4em;
                    height: 1.4em;
                    margin-top: 0;
                    transform: translateY(-50%);
                    left: -4em !important;
                }

                .swiper-button-next {
                    width: 1.4em;
                    height: 1.4em;
                    margin-top: 0;
                    transform: translateY(-50%);
                    right: -4em !important;
                }

                /// -- swiper -- ///
            }
        }


        .detail_bottom {
            padding: 0em $pd-tb;
            font-size: 15px;

            .detail_btn {
                margin-top: 0;
                font-size: 28px;
                
                .detail_btn_title {
                    font-size: 13px;
                }

                &.prev {
                    padding-right: 10px;
                }

                &.next {
                    padding-left: 10px;
                }
                
                &.prev:before, 
                &.next:before, {
                    display: none;
                }
            } 
            
        }
    }
    
}

// =============================================


@include mo-lg {     

    .article_detail {

        .detail_top { // 설명 부분
            flex-direction: column;
            font-size: 50px;
            padding-left: .8em;
            padding-right: .8em;
        
            .detail_info {
                font-size: 14px;
                margin-left: 0em;
                
                .detail_info_text .detail_line {
                    width: 3em;
                    top: -1em;
                    left: 0;
                    background-color: #c4c4c4;
                }
            }
        } 
        


        .detail_main {

            .shots {
                padding: 2em 1.8em;
                
                .shots_item.mobile {
                    float: none;
                    width: 100%;

                    &:nth-child(odd){
                        margin-right: 0;
                    }
                }
            }

            .slider {
                padding: 2em 4em;
                font-size: 16px;
                
                .slider_inner {
                    padding: 0 0em;
                }
            
                .swiper-container .swiper-wrapper .swiper-slide {
                    width: 85% !important;
                }

                .swiper-button-prev {
                    width: 1em;
                    height: 1em;
                    margin-top: 0;
                    transform: translateY(-50%);
                    left: -2.2em !important;
                }

                .swiper-button-next {
                    width: 1em;
                    height: 1em;
                    margin-top: 0;
                    transform: translateY(-50%);
                    right: -2.2em !important;
                }

                /// -- swiper -- ///
            }
        }


        .detail_bottom {
            padding: 2em 0;
            
            .bottom_inner {
                padding: 0 0 3em;
            }
            
            .detail_link {
                display: block;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                
            }

            .detail_btn {
                position: absolute;
                bottom: 0;
                margin-top: 0;
                font-size: 22px;
                
                .detail_btn_title {
                    display: none;
                }

                &.prev {
                    left: 1.2em;
                }

                &.next {
                    right: 1.2em;
                }
                
                &.prev:before, 
                &.next:before, {
                    display: none;
                }
            } 
        }
    }
    
}


// =============================================

@include mo-sm {     // mo-sm : ~375px
    .article_detail .detail_bottom .detail_link {
        font-size: 12px;
        //letter-spacing: -0.01rem;
    }
    
}
// =============================================

@include mo-ip5 { 
    
    .article_detail .detail_top .detail_info .detail_info_text .detail_mobile {
        padding: 0.5em;
        
        .detail_ico {
            display: none;
        }
    }
    
}