@charset "utf-8";

/*
*   work detail 
*/



//////////////////////
// work_detail 부분 //
/////////////////////


.article_detail {
    position: relative;
    width: 100%;
    min-height: 800px;
    max-height: 100%;
    height: 100vh;
    height: 100%;
    
    .inner {
    }
    
    .detail_top {
        @include display-flex;
        justify-content: center;
        position: relative;
        width: auto;
        height: auto;
        max-width: 1920px;
        margin: 0 auto;
        padding: 5em 0 11em;
        box-sizing: border-box;
        
        &:after {
            display: block;
            content: '';
            clear: both;
        }
        
        .detail_title {
           // float: left;
            width: auto;
            color: rgb(140, 221, 235);
            font-size: 60px;
            
            .detail_title_sm {
                display: block;
                padding-left: 8px;
                @include font-noto;
                color: #696969;
                font-style: normal;
                font-size: 25%;
                letter-spacing: 0.06rem;
            }
        } // end of .dtail_title
        
        .detail_info {
          //  float: left;
            font-size: 16px;
            line-height: 150%;
            margin-left: 9em;
            
            .detail_info_text {
                position: relative;
                width: auto;
                margin-top: 4.8em;
                
                .detail_line {
                    display: block;
                    position: absolute;
                    top: 11px;
                    left: -8em;
                    width: 7em;
                    height: 1px;
                    background-color: #696969;
                }
            }
        } // end of .detail_info
        
    } // end of .detail_top
    
    .detail_main {
        width: 100%;
        background-color: #feeeff;
        
        .shots {
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
            padding: 0 5em;
            box-sizing: border-box;
            background-color: rgba(140, 253, 236, 0.46);
            
            .shots_item {
                display: block;
                width: 88%;
                margin: 1.5em auto;
                
                img { //171101 | 클래스 추가 예정
                    width: 100%;
                    height: auto;
                }
            }
            
            .shots_item:first-child {
                position: relative;
                top: -6em;
            }
            
        } //end of .shots
        
        .slider {
            overflow-x: hidden;
            width: 100%;
            max-width: 1920px;
            min-height: 400px;
            padding: 0 5em;
            margin: 0 auto;
            box-sizing: border-box;
            background-color: #9ba7ff;
            
            /// -- swiper-- ///
            .swiper-slide {
                width: 60% !important;
                height: auto !important;
                max-height: 500px;
                padding: 0px 5px;
                background-color: #faa;

                img {
                    display: block;
                    width: 100%;
                }
            }
            /// -- swiper -- ///
            
        } //end of .slider 
        
    } //end of .detail_main
    
    
    .detail_bottom {
        @include display-flex;
        align-items: center;
        justify-content: center;
    } //end of .detail_bottom
    
} // end of .article_detail