@charset "utf-8";


/*
*   article_hello
*/


////////////////
// hello 부분 //
///////////////


.article_hello {
    position: relative;
    width: 100%;
    min-height: 800px;
    max-height: 100%;
    height: 100vh;
    
    .inner {
        transition: margin .5s;
        position: absolute;
        top: 50%;
        width: 100%;
        height: auto;
        margin-top: -9em;
    }
    
    .hello_text {
        transition: margin .5s, font-size .5s;
        margin: 3em 0 1em;
        padding: 0 3em;
        font-family: 'LotteMartDream', sans-serif;
        text-align: center;
        font-weight: 300;
        color: #3f3f3f;
        letter-spacing: 0.025rem;
        line-height: 1.6em;
        word-break: keep-all;
    }
    
    .more {
            @include display-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 3em;
        
            &:before {
                display: block;
                position: absolute;
                top: -30px;
                width: 4em;
                height: 1px;
                background-color: #888;
                content: '';
            }
        
        .more_link {
            position: relative;
            @include font-noto;
            padding: 0 3em 0 0;
            letter-spacing: 0.12rem;
            color: #999;


            .icon_circle {
                @include icon-circle;
                position: absolute;
                top: -1em;
                right: -1em;

                &:after { //임시 (삭제예정))
                    position: absolute;
                    top: 24px;
                    right: 16px;    
                    width: 20px;
                    height: 4px;
                    outline: 1px solid #fff;
                    content: '';
                }
            }
        }
    }
    
    
    
} //end of .article_hello



//////////////////
// !미디어 쿼리! //
/////////////////


@include pc-md {     // pc-md : 1601px~
    .article_hello {
        min-height: 840px;
        
        .inner {
            font-size: 29px;
        }
        
        .hello_text {
            font-size: 22px;
        }
        
        .more .more_link {
            font-size: 21px;
        }
        
        .icon_circle {
            font-size: 20px;
        }
    } 
    
} 

// =============================================

@include pc-sm {     // pc-sm : 1201px ~ 
    .article_hello {
        
        .inner {
            font-size: 26px;
        }
        
        .hello_text {
            font-size: 20px;
        }
        
        .more .more_link {
            font-size: 19px;
        }
        
        .icon_circle {
            font-size: 18px;
        }
    } 
    
}

// =============================================

@include tablet {     // tablet : 641px~
    .article_hello {
        
        .inner {
            font-size: 24px;
        }
        
        .hello_text {
            font-size: 18px;
        }
        
        .more .more_link {
            font-size: 17px;
        }
        
        .icon_circle {
            font-size: 16px;
        }
    }
    
}

// =============================================

@include mo-lg {     // mo-lg : ~540px
    .article_hello {
        
        .inner {
            font-size: 22px;
        }
        
        .hello_text {
            margin: 3.5em 0 0 0.6em;
            font-size: 13px;
            text-align: left;
        }
        
        .more .more_link {
            font-size: 12px;
            
                    
            .icon_circle {
                font-size: 12px;
            }
        }

    } 
    
}

// =============================================

@include mo-sm {     
    .article_hello {
        
        .more .more_link {
            padding: 0;
            font-size: 12px;
            
                    
            .icon_circle {
                position: static;
                margin: 1em auto 0;
                font-size: 11px;
                transition: margin .5s;
            }
        }

    } 
    
}

// =============================================