@charset "utf-8";


/*
*   contents
*/

///////////////////
// contents 부분 //
//////////////////

.contents {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: auto; 
    box-shadow: 0 7px 40px rgba(0,0,0,0.07);
} //end of .contents