@charset "utf-8";


/*
*   contents
*/

///////////////////
// contents 부분 //
//////////////////

.contents {
    z-index: 1; //푸터보다 위에 있어야 함
    position: relative;
    width: 100%;
    height: auto; 
    box-shadow: 0 10px 60px rgba(20,20,20,0.1), 0 10px 50px rgba(30,30,30,0.06);
} //end of .contents