@charset "utf-8";


/*
*   work_layout
*/


#work {
    display: table;
    position: relative;
    width: 100%;
    min-height: 600px;
    max-height: 100%;
    height: 100vh;
    background-color: seashell;
    
    .inner {
        
        /*
        margin: 0 auto;
        max-width: 1600px;
        background-color: bisque;
        */
        transition: margin .5s;
        //position: absolute;
        //top: 50%;
        width: 100%;
        height: auto;
        //transform: translateY(-50%);
        //margin-top: -19em;
    }
    
    h2 {
            position: relative;
            text-align: center;
            font-weight: 700;
            padding-top: 1.55em;
            transition: padding .5s;
        
        &:before {
            position: absolute;
            top: 0.3em;
            left: 50%;
            display: block;
            content: '';
            width: 1px;
            //height: 90px;
            height: 1.3em;
            background-color: #67ceeb;
        }
    }
}


#work .workList {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 40px 60px;
    background-color: lavender;
}

#work .photosWrap {
        margin:0 auto;
        max-width: 1920px;
}

#photos {
    //width: auto;
    //max-width: 1600px;
    //margin: 0 auto;
    line-height: 60px; 
    -webkit-column-count: 3; 
    -webkit-column-gap: 20px; 
    -moz-column-count: 3; 
    -moz-column-gap: 20px; 
    column-count: 3; 
    column-gap: 20px; 
    background-color: silver;
}

#photos img { /* Just in case there are inline attributes */ width: 100% !important; height: auto !important; }


/* //////////////////////////////// */

    
    @media screen and (min-width:1601px) {
        #hello {
            //min-height: 670px;
        }
        #hello h2{
            font-size: 110px;
            text-align: center;
        }
        #hello .inner {
            font-size: 22px;
        }
        #hello .textWrap p {
            font-size: 19px;
        }
        #hello .needMore p {
            font-size: 16px;
        }
        #hello .needMore .link_about {
            font-size: 18px;
        }
        
    }
    @media screen and (max-width:1600px) {
        #work {
            //min-height: 650px;
            font-size: 20px;
            top: -40px;
        }
        #work h2{
            color: slateblue;
            font-size: 80px;
            bottom: -40px;
        }
        #work .textWrap {
            font-size: 16px;
        }
        #work .inner {
            font-size: 14px;
        }
        #work .needMore p {
            font-size: 15px;
        }
        #work .needMore .link_about {
            font-size: 16px;
        }
    }
    @media screen and (max-width:1200px) {
        #work {
            //min-height: 500px;
            top: -60px;
        }
        #work h2 {
            color: sandybrown;
            font-size: 60px;
            bottom: -30px;
        }
        #work .textWrap {
            font-size: 15px;
        }
        #work .inner {
            font-size: 14px;
        }
        #work .needMore p {
            font-size: 13px;
        }
        #work .needMore .link_about {
            font-size: 12px;
        }
    }
    @media screen and (max-width:769px) {
        #hello {
           // min-height: 630px;
        }
        #hello h2{
            color: paleturquoise;
            font-size: 80px;
        }
        #hello .inner {
            font-size: 15px;
        }
        #hello .textWrap {
            font-size: 15px;
        }
        #hello .needMore p {
            font-size: 11px;
        }
        #hello .needMore .link_about {
            font-size: 9px;
        }
    }

/* //////////////////////////////// */



@media (max-width: 1600px) { #photos { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; } }
@media (max-width: 769px) { #photos { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; } }
@media (max-width: 640px) { #photos { -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; } }



#photos .imgWrap {
    width: 240px;
    height: 320px;
    background-image: url(../images/temp.jpeg);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
#photos figure {
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100% !important; 
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    outline:2px solid yellow;
}

#photos figure:first-child {
    height: 360px;
}
#photos figure:nth-child(2) {
    height: 280px;
}
#photos figure:nth-child(3) {
    height: 300px;
}

#photos  figure img {
	position: absolute;
	display: block;
	//min-height: 100%;
	//max-width: 100%;
    width: 100%;
    height: 100%;
	opacity: 0.8;
     top: 50%;
     left: 50%;
     transform: translateY(-50%) translateX(-50%);
}

#photos figure figcaption {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 800;
}

#photos figure h3,
#photos figure p {
	margin: 0;
}

#photos figure p {
    width: 100%;
	letter-spacing: 1px;
	font-size: 0.6em;
    line-height: 12px;
}


figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h3 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h3,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
