@charset "utf-8";


/*
*   modal
*/

// (공통) 모달창


#modal .dim {
    display: none;
    z-index: 300; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.55);
}


#modal .modal-container { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 680px;
    transform: translateX(-50%) translateY(-50%);
    padding: 45px; 
    box-sizing: border-box; 
    background-color: #f8f8f8;
    border-radius: 8px;
    
    &.modalLarge {
        height: 660px;
    }
    
    &.modalMedium {
        height: 520px;
    }
    
    &.modalSmall {
        height: 400px;
        .modal-body {
            height: 152px;
        }
    }
}


#modal .modal-heading {
    display: block;
    font-weight: 600;
    font-size: 26px;
}

#modal .modal-body {
    width: 100%;
    margin-top: 40px;
    max-height: 420px;
    overflow-y: auto; 
    overflow-x: hidden; 
    
    ul > li {
        //outline:1px solid red;
        margin-top: 16px;
        
        &:first-child {
            margin-top: 0;
        }
        
        
        label {
            display: inline-block;
            width: 130px;
            margin-top: 10px;
            font-weight: 600;
            font-size: 18px;
            color: #293a72; 
        }
        
        input {
            display: inline-block;
            width: calc(100% - 134px);
            height: 40px;
            font-size: 15px;
            box-sizing: border-box;
            padding: 0 10px;
            border: 1px solid #bbb;
        }
        
        select { 
            width: calc(100% - 134px);
            height: 40px;
            padding: 0 10px;
            font-size: 15px; 
            background-color: rgba(255, 255, 255, 1); 
            border: 1px solid #bbb; 
            border-radius: 8px; 
            font-size: 15px; 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none; 
            background-image: url("../images/page_3_ico.png");
            background-repeat: no-repeat;
            background-position: 96% 50%; 
        }
        
        select::-ms-expand { 
            display: none; 
        }

    }//end of li
    
    
    .alert {
        font-weight: 400;
        line-height: 1.5;
        box-sizing: border-box;
        padding: 12px;
        background-color: #efefef;
        font-size: 14px;
        color: #2a2a2a;
    }
    
    .modal-table {
        width: 100%;
        height: 140px;
        text-align: center;
        word-break: break-all;
        border-collapse: collapse;
        background-color: #fff;
        
        thead tr {
            height: 36px;
            text-align: center; 
            font-weight: 500; 
            font-size: 15px; 
            background-color: #dfdfdf;
            border: 1px solid #dfdfdf;
        }
        
        tbody tr {
            font-weight: 400;
            font-size: 14px;
        }
        
        
            
        td {
            border: 1px solid #dfdfdf;  
            padding: 8px 14px; 
        }
    }
    
    
}//end of modal-body

#modal .btnWrap{
    position: absolute;
    right: 45px;
    bottom: 45px;
           
    button {
        display: inline-block;
        padding: 8px 24px; 
        font-size: 16px;  
        border-radius: 4px; 
        text-align: center; 
        color: #fff; 
        background-color: #0776ff; 
        border: 1px solid #0776ff;
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    
    button.btn-cancel {
        color: #999;
        background-color: transparent; 
        border: 1px solid #999; 
        
    }
    
}

#modal .modal-clse {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 32px;
    color: #999;
}


