@charset "utf-8";


// **** VARIABLES **** //


//color
$color-main : #293a72;
$color-num : #0776ff;
$color-bg : #efefef;
$color-tit : #152558;
$color-btn : #293a72;
$color-table-tit : #142355;
$color-table-hover : #f2f5ff;
$color-bg-sub : #17265d;
$color-placeholder : #838383;



//layout
$addMemo_height : 32px;  //메모입력란 높이 조절
$panelList_height : 32px;  //고객상세정보 li 높이 조절