@charset "utf-8";

// **** ANIMATIONS **** //


@mixin key-bounce($color:#ffe079) {
    
    @keyframes bounceOutline {
        0%{ box-shadow: 0 0 0 4px $color;}
        25%{ box-shadow: 0 0 0 2px $color;}
        50%{ box-shadow: 0 0 0 6px $color;}
        75%{ box-shadow: 0 0 0 4px $color;}
        100%{ box-shadow: 0 0 0 5px $color;}
    }    
    @-webkit-keyframes bounceOutline {
        0%{ box-shadow: 0 0 0 4px $color;}
        25%{ box-shadow: 0 0 0 2px $color;}
        50%{ box-shadow: 0 0 0 6px $color;}
        75%{ box-shadow: 0 0 0 4px $color;}
        100%{ box-shadow: 0 0 0 5px $color;}
    }

}


@mixin key-moveToRight {
    
    @keyframes moveToRight {
        3%{margin-left: -2px;}
        50%{ margin-left: 6px;}
        100%{ margin-left: -2px;}
    }    

}

@mixin key-visualFog01 {
    @keyframes visualFog01 {
        0%{right: 0%;}
        100%{right: 30%;}
    }
}
@mixin key-visualFog02 {
    @keyframes visualFog02 {
        0%{left: 0%;}
        100%{left: 10%;}
    }
}

@mixin key-visualTxtAni {
    @keyframes visualTxtAni {
        0% {opacity: 0; left: 80px;}
        30% {opacity: 1; left: 0;}
        60% {opacity: 1; left: 0;}
        100% {opacity: 0; left: -80px;}
    }
}


@mixin key-visualLogoAni {
    @keyframes visualLogoAni {
    }
}



@include key-bounce;
@include key-moveToRight;
@include key-visualFog01;
@include key-visualFog02;
@include key-visualTxtAni;
@include key-visualLogoAni;
    
@mixin ani-bounce($count:1){
     animation: bounceOutline .55s ease-in-out $count ;
}
@mixin ani-moveToRight($count:1){
     animation: moveToRight 1.6s ease-in-out -1s $count;
}
@mixin ani-visualFog01($count:infinite){
     animation: visualFog01 28s ease-in-out $count alternate;
}
@mixin ani-visualFog02($count:infinite){
     animation: visualFog02 18s linear $count alternate;
}
@mixin ani-visualTxtAni($count:infinite){
     animation: visualTxtAni 4s ease-in-out $count;
}
@mixin ani-visualLogoAni($count:infinite){
     animation: visualLogoAni 8s ease-in-out $count;
}

