@charset "utf-8";


// **** VARIABLES **** //

// COLOR PALLETE
$color-main : rgb(140, 221, 235);
$color-sub : #ffe079;
$color-bg : #f5f5f5;
$color-wrap : #fafafa;

// color for each works
$color-work-01 : #111f6f;
$color-work-02 : #fd7622;
$color-work-02 : #ff7e2d;
$color-work-06 : #6c35b4;


// padding for media queries

$pd-lg : 10em;
$pd-md : 8em;
$pd-tb : 4.6em;