@charset "utf-8";


// **** VARIABLES **** //

// COLOR PALLETE
$color-main : rgb(140, 221, 235);
$color-sub : #ffe079;
$color-bg : #f2f2f2;

// color for each works
$color-work-01 : #111f6f;