@charset "utf-8";

/* 
*   FONT FACE
*/


@font-face {
	font-family: 'LotteMartDream'; //롯데마트 드림체
    font-style: normal;
    font-weight: 300;
	src: url(../font/dreamL.eot);
    src: url(../font/dreamL.eot?#iefix) format('embedded-opentype'),
         url(../font/dreamL.woff) format('woff'),
         url(../font/dreamL.ttf) format('truetype');
}


////////// CDN 도입. 속도 비교 후 결정!
/*

@font-face{
 font-family:'LotteMartDream';
 font-style:normal;
 font-weight:500;
 src:url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'),
     url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face{
 font-family:'LotteMartDream';
 font-style:normal;
 font-weight:700;
 src:url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'),
     url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face{
 font-family:'LotteMartDream';
 font-style:normal;
 font-weight:400;
 src:url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'),
     url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
*/

@font-face {
	font-family: 'NotoSans'; //본고딕
    font-style: normal;
    font-weight: 400;
	//src: url(../font/NotoSansLight.eot);
    src: url(../font/NotoSansLight.eot?#iefix) format('embedded-opentype'),
         url(../font/NotoSansLight.woff2) format('woff2'), 
         url(../font/NotoSansLight.woff) format('woff');
}

