@charset "utf-8";


/*  
*   RESET STYLE
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small article, aside, footer, header, nav, address, section, main, time, ol, ul, li, hr, strong, figure { 
    margin: 0;
    padding: 0; 
    border: 0; 
    vertical-align: baseline; 
    -webkit-text-size-adjust: none; 
    font-style: normal; 
}

ul, ol, li, dl {
    list-style: none; 
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    font-family: 'Lato', 'LotteMartDream',  AppleGothic, sans-serif, Helvetica;
}

hr { 
    display: none; 
}

button { 
    cursor: pointer;
    font-family: 'Lato', 'LotteMartDream',  AppleGothic, sans-serif, Helvetica;
}

input { 
    margin: 0;
    padding: 0; 
    box-sizing: content-box;
    vertical-align: top;
    border-radius: 0; 
    -webkit-border-radius: 1px;
    -webkit-apprearance: none;
}


html, body {
    position: relative;
    overflow-x: hidden;
    width: 100%; 
    min-width: 100%;
    //min-height: 100%;
    //height: 100%; 
    font-size: 100%;
    font-family: 'Lato', 'LotteMartDream',  AppleGothic, sans-serif, Helvetica;
    line-height: 1.3;
}



/*** html, body에 overflow:hidden + height: 100%를 지정하면 버벅거림이 없어진다는 얘기가 있는데.....height:100%를 하면 사파리에서 푸터가 안나온다 ㅠㅠ 어쩌죠..? ***/

//end of _reset.scss



