@charset "utf-8";


/*
*   mainScreen modal layout
*/

// 메인화면 게시판 내 글/덧글 작성 모달

#modal .modal-mainScreen {
    
    position: relative;
    padding-right: 15px;
    
    
    ul > li {
        
        p.tit {
            margin-bottom: 10px;
        }
        
        input[type="text"] {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            font-weight: 500;
        }

        textarea.large {
            overflow-y: auto;
            resize: none;
            width: 100%;
            height: 220px;
            padding: 10px;
            font-size: 15px;
            box-sizing: border-box;
            border: 1px solid #bbb;
        }
        
        textarea.small {
            @extend textarea.large;
            height: 110px;
        }
        
        .list-attach {
            
            label {
                position: absolute;
                top: 90px;
                right: 15px;
                display: block;
                width: 80px;
                height: 24px;
                line-height: 24px;
                color: $color-main;
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                background-color: transparent;
                border: 1px solid $color-main;
                border-radius: 4px;
                cursor: pointer;
                
                /*&:before {
                    position: absolute;
                    top: 5px;
                    left: 12px;
                    display: block;
                    width: 14px;
                    height: 16px;
                    content: '';
                    background-image: url(../images/attach_ico.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                }*/
            }
            
            input[type="file"] {
                position:absolute; 
                top: 10px;
                left: 0;
                width: 0px; 
                height: 0px; 
                overflow: hidden; 
                border: 0; 
                clip: rect(0,0,0,0);
            }
            
            .attachedFile {
                position: relative;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 8px;
                padding: 6px 46px 6px 10px;
                font-weight: 500;
                color: #555;
                font-size: 14px;
                letter-spacing: 0.05rem;
                background-color: #eee;
                border: 1px solid #ddd;
                
                &:last-child {
                    margin-right: 0px;
                }

                button {
                    opacity: 0.5;
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    width: 12px;
                    height: 12px;
                    background-color: transparent;
                    background-image: url(../images/clse_ico.png);
                    background-repeat: no-repeat;
                    background-size: 100%; 

                    &:hover {
                        opacity: 1;
                    }
                }
            }
   
        }
    }
}
