@charset "utf-8";


/*
*   search layout
*/


#search {
    
    width: 100%;
    min-width: 1400px;
    background-color: #fff;
    
    .search-container {
        @include container;
        height: 80px;
    }
    
}


//필터입력 버튼
#search .filter {
    position: relative;
    float: left;
    margin-right: 64px;
}

#search .filter button {
    position: relative;
    width: 136px;
    height: 30px;
    margin-top: 23px;
    padding-bottom: 1px;
    color: #fff;
    line-height: 1em;
    font-size: 15px; //0.938rem; //15px
    border-radius: 6px;
    background-color: $color-main;
    border: 0;
    
    
    //3줄 아이콘
    span:before {
        position: absolute;
        top: 9px;
        left: 9px;
        display: block;
        content: '';
        width: 16px;
        height: 12px;
        background-image: url(../images/filter_ico.png);
    }
    
    //삼각형 아이콘
    span:after {
        position: absolute;
        top: 12px;
        right: 10px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #f7f7f7 transparent transparent transparent;
    }
}


//검색창
#search .searchForm {
    position: relative;
    float: left;
    width: 1060px;
    
    input {
        width: 1000px;
        height: 60px;
        margin-top: 10px;
        box-sizing: border-box;
        padding: 0 20px;
        font-family: 'Noto Sans KR',  AppleGothic, sans-serif, Helvetica;
        font-weight: 500;
        border: 0;
        font-size: 15px;
    }
    
    .btn-search {
        display: block;
        position: absolute;
        top: 50%;
        right: -42px;
        width: 36px;
        height: 36px;
        margin-top: -12px;
        background: none;
        background-image: url(../images/search_ico.png);
        background-repeat: no-repeat;
        background-size: 22px 22px;
        background-position: center;
        border: 0;
    }
    
    
}